<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styleslogin.css">
    <title>HomeDivBiker</title>

</head>
<body>
    <header>
        <div class="top-header">
            <div class="barra"><p class="right">"Lo que gastas en tu bicicleta, lo ahorras en salud"</p></div>
            <div class="p"><p>INICIAR SESIÓN</p></div>
        </div>
        <div class="nav">
            <div class="logo">
                <img src="/img/DevBiker.png" alt="Logo-DevBiker">
            </div>
            <div class="nav-list">
                <ul>
                    <li>BICICLETAS</li>
                    <li>ACCESORIOS</li>
                    <li>OFERTAS</li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="icons">
                <i class="fas fa-search"></i>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="container_form">
             <h1>Iniciar Sesion</h1>
            <form action="">
                <h2>Usuario
                    <input type="text"  >
                </h2>
                <h2> Contraseña
                    <input type="password" >
                </h2>
                <input class="boton type="submit" value="Iniciar Sesión">
                <input class="check" type="checkbox" id="id">
                <label for="id">Recordar Usuario</label>
                <a href="#">¿Olvidaste tu contraseña?</a>
                
            </form>
       
            </div>
       
           </div>

    </main>
    <footer>
        <div class="footer-list">
            <ul>
                <h4>Soporte</h4>
                <li>Contacto</li>
                <li>Garantia</li>
                <li>Devoluciones</li>
                <li>Servicio al cliente</li>
            </ul>
            <ul>
                <h4>Acerca DevBiker</h4>
                <li>¿Quienes somos?</li>
                <li>Convenios</li>
                <li>Terminos y condiciones</li>
                <li>Preguntas frecuentes</li>
            </ul>
            <ul>
                <h4>Redes sociales</h4>
                <section class="social-media">
                    <li class="footer-li">Facebook </li>
                    <i class="fab fa-facebook-square"></i>
                </section>
                <section class="social-media">
                    <li class="footer-li">Instagram </li>
                    <i class="fab fa-instagram-square"></i>
                </section>
                <section class="social-media">
                    <li class="footer-li">Email </li>
                    <i class="fas fa-envelope-square"></i>
                </section>
                <section class="social-media">
                    <li class="footer-li">Whatsapp </li>
                    <i class="fab fa-whatsapp-square"></i>
                </section>
            </ul>
        </div>
        <div>
            <p class="copyright">Copyright © 2021 DevBiker</p>
        </div>
    </footer>

</body>
</html>