<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--para las imagnes nos registramoas con el link de abajo -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styleC1.css">
    <title>Carrito</title>
</head>
<body>
    <!--HEADER-->
    <header >
        <div class="mainheader">
            <form class="perfil" action="/" method="get">
                <div class="perfil2">
                    <h2>Sé Libre y Recorre el Mundo en Cicla </h2>
                    <li><a href="/">Perfil</a></li>
                    <!--<button class="Boton-perfil" type="submit" id="perfil" name="boton-perfil">Perfil</button>-->
                </div>
            </form>
            <div class="devbiker">
                <nav class="nav-web">
                    <li><a class="logo-devbiker" href="/"><img class="img-logo" src="/img/DevBiker.png" alt="Pagina principal" ></im></a></li>
                    <ul class="left-navbar"><!--etiqueta de bloque ul-->
                        <li><a href="#">Bicicletas</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                    <a href="#" class="hamburguer-button">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul class="right-navbar">
                        <li class="buscar"><a href="#"><i class="fas fa-search"></i></a></li>
                        <li class="corazon"><a href="#"><i class="far fa-heart"></i></a></li>
                        <li class="carrito"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        <!--<li class="carrito"><a href="#"><img class="carrito1" src="./carrito_negro_sin_fondo.png" alt="Carrito de compras"></a></li>-->
                        <!--<li class="carrito"><a href="#"><img class="carrito2" src="./carrito_rojo_sin_fondo(1).png" alt="Carrito de compras"></a></li>-->
                    </ul>
                </nav>
            </div>
            <div>
            </div>
        </div>
    </header>
    <!--fIN HEADER-->
<!-------------------------------------------------------BODY-------------------------------->
<section class="body">
    <div class="RutaDePosicionamiento" ><label> Ruta de Posicionamiento </label></div>
    <div class="menuCompras">
        <section class="seccionDeCompras">
            <h4 class="textoSeccionDeCompras">Sección de Compras</h4>
            <div class="productosAgregados">
                <div>
                    <h5>Wisheles</h5>
                </div>
                <section class="articulosAgregado">
                        <ul>
                            <li>
                                <article>
                                    <div class="imagenes">
                                        <img src="./img/bicycle-g00fa52754_1280.jpg" alt="MacBook Pro 2019">
                                        <div class="flex-row">
                                            <p class="price">$ 230.000</p>
                                            <p class="discount">20% off</p>
                                        </div>
                                        <input  class="caja" type="checkbox" name="intereses" id="producto1" value="producto1">
                                    </div>
                                    <div class="product-card">
                                       <!-- <i class="fas fa-truck"></i> <--img del camión-->
                                        <h5="description">MacBook Pro 2019</5>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="imagenes">
                                        <img src="./img/activity-g78007eba3_1280.jpg" alt="MacBook Pro 2019">
                                        <div class="flex-row">
                                            <p class="price">$ 230.000</p>
                                            <p class="discount">20% off</p>
                                        </div>
                                        <input  class="caja" type="checkbox" name="intereses" id="producto1" value="producto1">
                                    </div>
                                    <div class="product-card">
                                       <!-- <i class="fas fa-truck"></i> <--img del camión-->
                                        <h5="description">MacBook Pro 2019</5>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="imagenes">
                                        <img src="./img/bicycle-g4e21d1848_1280.png" alt="MacBook Pro 2019">
                                        <div class="flex-row">
                                            <p class="price">$ 230.000</p>
                                            <p class="discount">20% off</p>
                                        </div>
                                        <input  class="caja" type="checkbox" name="intereses" id="producto1" value="producto1">
                                    </div>
                                    <div class="product-card">
                                       <!-- <i class="fas fa-truck"></i> <--img del camión-->
                                        <h5="description">MacBook Pro 2019</5>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="imagenes">
                                        <img src="./img/activity-g78007eba3_1280.jpg" alt="MacBook Pro 2019">
                                        <div class="flex-row">
                                            <p class="price">$ 230.000</p>
                                            <p class="discount">20% off</p>
                                        </div>
                                        <input  class="caja" type="checkbox" name="intereses" id="producto1" value="producto1">
                                    </div>
                                    <div class="product-card">
                                       <!-- <i class="fas fa-truck"></i> <--img del camión-->
                                        <h5="description">MacBook Pro 2019</5>
                                    </div>
                                </article>
                            </li>
                        </ul>
                </section>
                <form class="pasarProductosACompras" action="/" method="post">
                    <p>Selecciones los productos que desea compra</p>
                    <button class="Boton-pasar" type="submit" >Pasar a Compra</button>
                </form>
            </div>
           
        </section>
    </div>
</section>
<!-----------------------------------------------------------fIN BODY---------------------------------------->
    <!--FOODER-->
    <!--FIN FOODER-->
    <!--qMEDIA-->
    <!--@IN MEDIA -->
</body>
</html>