<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Crear</title>
    <style>
        .principal{
            display: flex;
            margin: auto;
            padding: 30px;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>

        <div class="margin-left"></div>

        <div class="principal">
            <div class="container-form">

                <form action="" method="">
                    <div>
                        <h2 class="titulo">Crea tu producto</h2>
                    </div>

                    <div>
                        <label for="nombre">Nombre producto:</label>
                        <input type="text" name="nombre" placeholder="Nombre">
                    </div>

                    <div>
                        <label for="valor">Valor del producto:</label>
                        <input type="text" name="valor" placeholder="Precio">
                    </div>

                    <div>
                        <label for="categoria">Categoria:</label>
                        <select name="categoria">
                            <option>------------------</option>
                            <option>Ruta</option>
                            <option>BMX</option>
                            <option>Urbano</option>
                            <option>Montaña</option>
                            <option>Accesorios</option>
                        </select>
                    </div>

                    <div>
                        <label for="stock">Stock:</label>
                        <input type="text" name="stock" placeholder="Stock">
                    </div>

                    <div>
                        <label for="sku">Codigo unico:</label>
                        <input type="text" name="sku" placeholder="SKU">
                    </div>

                    <div>
                        <label for="descripcion">Descripcion del producto:</label>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Añade la descripción:"></textarea>
                    </div>

                    <div>
                        <label for="file">Cargar imagen</label>
                        <input type="file" name="file">
                    </div>
                    <div>
                        <input class="boton" type="submit" value="Crear Producto">
                    </div>
                </form>
            </div>
        </div>

        <div class="margin-right"></div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>