/*Normalización*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Comunes*/
html{                        /*El tamaño de los navegadores por defecto son 16px*/
    font-size: 65%;          /*De esta manera el valor del navegador es de 10px*/
}


/*Variables*/
:root{
    /*Fuentes (min 426px)*/
    --text1: 9px;
    --text1-1: 8px;
    --text2: 10px;
    --text2-1: 9px;
    --text3: 15px;
    --text3-1: 14px;
}

/*Body*/
.text-alt{
    width: 90%;
    margin: auto;
}





/*main*/



.container_form{
    
    background-color: rgb(223, 31, 31);
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}
h1{
    text-align:center;
    color: black;
}
input{
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    padding: 0 15px;
    font-size: 18px;
    color: black;
    background: #c4c4c4;
    margin-left: 50px;
}
h2{
    text-align:left;
    color: black;
     
}
.check{
    width: 12px;
    height: 12px;
    display: inline;
    margin-left: 30px;
}
label{
    color: black;
   
}
a{
    color: black;
    text-decoration: none;
    margin-left: 65px;
}
.boton{
    width: 150px;
    border-radius: 15px;
    background-color: #323ff5;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #1c0b5a;
    margin-left: 115px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-left: 40px solid  #b3b3ff;
    border-right: 40px solid  #b3b3ff;
}