@import url('stylesMain.css');

/*Normalización*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Comunes*/
html{                        /*El tamaño de los navegadores por defecto son 16px*/
    font-size: 65%;          /*De esta manera el valor del navegador es de 10px*/
}


/*Variables*/
:root{
    /*Fuentes (min 426px)*/
    --text1: 9px;
    --text1-1: 8px;
    --text2: 10px;
    --text2-1: 9px;
    --text3: 15px;
    --text3-1: 14px;
}

/*Body*/
.text-alt{
    width: 90%;
    margin: auto;
}


/*main*/

.margin-left{
    width: 5%;
    background-color: #b3b3ff;
}
.margin-right{
    background-color: #b3b3ff;
    width: 5%;
}
.principal{
    width: 90%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    background-image: url("../img/bicycle-g00fa52754_1280.jpg");
    background-position: center;
    background-size: cover;
}
.container_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #9999ff;
    border-radius: 8px;
    padding: 20px;
    opacity: 0.9;
    margin: 40px;
    font-size: 14px;
}
.titulo-icon i{
    display: flex;
    justify-content: center;
    color: #050A30;
    margin-bottom: 10px;
    font-size: 60px;
}
.div{
    line-height: 20px;
    width: 100%;
}
.div input{
    width: 100%;
    border-radius: 5px;
}
.check{
    margin: 8px 0px;
    font-size: 10px;
}
.button{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #050A30;
    color: white;
    font-size: 14px;    
    padding: 5px;
    margin: 15px 0px;
}

/*@media------------------------------------------------------------------------*/
@media (min-width: 769px){
    .container_form{
        width: 40%;
        background-color: #8080ff;
        border-radius: 8px;
        padding: 20px;
        opacity: 0.9;
        margin: 60px 0px;
        font-size: 20px;
    }
    .titulo-icon i{
        font-size: 100px;
    }
    .div{
        line-height: 25px;
    }
    .button{
        font-size: 18px;
    }
}