@import url('stylesMain.css');

/*Normalización*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Comunes*/
html{                        /*El tamaño de los navegadores por defecto son 16px*/
    font-size: 65%;          /*De esta manera el valor del navegador es de 10px*/
}

/*Variables*/
:root{
    /*Fuentes (min 426px)*/
    --text1: 9px;
    --text1-1: 8px;
    --text2: 10px;
    --text2-1: 9px;
    --text3: 15px;
    --text3-1: 14px;
}

/*Body--------------------------------------*/
.text-alt{
    width: 90%;
    margin: auto;
}


/*Main---------------------------------------------*/
main{
    width: 100%;
    display: flex;
}
.margin-left{
    width: 5%;
    background-color: #b3b3ff;
}
.margin-right{
    background-color: #b3b3ff;
    width: 5%;
}
.principal{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: white;
    display: block;
}
.img-principal h3{
    text-align: center;
    margin-top: 10px;
}
.principal .img-principal img{
    width: 50%;
    display: block;
    padding: 5px;  
    margin: auto;
    border-radius: 15px;
}
.img-principal p{
    margin: auto;
    width: 90%;
    text-align: justify;
    padding: 8px;
}
.text-alt{
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: justify;
    margin-bottom: 15px;
}
.banner{
    display: flex;
    border: 3px solid #b3b3ff;
}
.banner img{
    width: 100%;
}
.bestPrice{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
.principal-redes{
    width: 35%;
    margin: auto;   
    text-align: center;
    background-color: #b3b3ff;
    padding: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.principal-redes i{
    margin: 2px;
}
.principal h3{
    margin-top: 30px;
    padding: 10px;
    font-size: var(--text3-1);
}
.models{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction:  row;;
    justify-content: center;
    flex-wrap: wrap;
}
main .models article{
    width: 100%;
    display: flex;
    background-color: #e6e6ff;
    flex-direction: column;
    margin: 8px;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px #ccccff;
}
.models img{
    width: 90%;
    height: 90%;
    display: flex;
    border: solid 1px #ffffff;
    border-radius: 50%;
}
.title-models{
    width: 100%;
    text-align: center;
}
.price-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.price{
    font-size: 11px;
    background-color: #9999ff;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px #7b8bff;
}
.description{
    font-size: 10px;
}
.princiapl-redes i{
    color: #050A30;
}
.devbiker{
    margin: auto;
    width: 95%;
    padding: 5px;
    text-align: justify;
}
.devbiker li{
    margin-left: 16px;
}
.findBike{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 0px 8px 8px 8px;
    border: solid 2px #000080;
    background-color: #b3b3ff;
    border-radius: 10px;
    font-size: var(--text1);
}
.findBike h3{
    font-size: 12px;
    margin-top: 10px;
}
.categories{
    margin: auto;
    margin-top: 15px;
    padding: 0px 5px;
    width: 95%;
}
.list-catogories{
    width: 80%;
    padding: 5px;
}


/*@media-----------------*/
@media (min-width: 426px){

    /*Body----------------------------------------------------*/
    .img-principal h3{
        font-size: 18px;
    }
    .img-principal p{
        font-size: var(--text3);
    }
    .text-alt{
        font-size: var(--text3);
    }
    .principal-redes{
        width: 35%;
        font-size: var(--text3);
    }
    .findBike{
        font-size: var(--text3-1);
    }
    .categories{
        font-size: var(--text3);
    }
    .bestPrice{
        font-size: var(--text3);
    }
    main .models article{
        width: 40%;
<<<<<<< HEAD
=======
       
>>>>>>> b81fa4ad063927d18a6d7151bc0f3010f6c5bbcd
    }
    .price{
        font-size: 11px;
    }
}

@media (min-width: 769px){

    /*Body----------------------------------------------------*/
    .principal .img-principal h3{
        font-size: 40px;
    }
    .img-principal img{
        width: 50%;
    }
    .img-principal p{
        font-size: 18px;
    }
    .text-alt{
        font-size: 18px;
    }
    .principal h3{
        font-size: 25px;
    }
    .bestPrice{
        font-size: 20px;
    }
    .principal-redes{
        width: 30%;
        font-size: 20px;
    }
    main .models article{
        width: 22%;
    }
    .price{
        font-size: 15px;
    }
    .description{
        font-size: 14px;
    }
    .findBike{
        font-size: 16px;
        padding: 0px 15px 15px 15px;
    }
    .categories{
        font-size: 20px;
    }
}