<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Login</title>
    <link rel="stylesheet" href="/css/styleslogin.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        
        <div class="margin-left"></div>

        <div class="principal">
            <div class="container_form">
                <div class="user"><i class="fas fa-user"></i></div>
                <br action="">
                    <section>

                        <label for="usuario" class="user">Usuario</label>
                        <input class="inputU" type="text" name="usuario">

                        <label for="contraseña" class="pass">Contraseña</label>
                        <input class="inputC" type="password" name="contraseña">
                        
                        <input class="boton" type="submit" value="Iniciar Sesión">
                    </section>
                    <div class="link">
                        <a href="/registro">¿Olvidaste tu contraseña?</a>
                        <a href="/admin/register">Crear cuenta</a> 
                    </div>
                </form>
            </div>  
        </div>

        <div class="margin-right"></div>
          
    </main>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>