<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Login</title>
    <link rel="stylesheet" href="/css/perfil.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        
        <div class="margin-left"></div>

        <div class="principal">
            <div class="container">
                <section class="perfil">

                    <h2>Perfil de usuario</h2>
                    <h6>Foto de perfil: </h6>
                    <h4>Sus datos Son:</h4>
                    <p class="datos">Nombre: </p>
                    <p class="datos">Apellidos: </p>
                    <p class="datos">Email: </p>
                    <p class="datos">Fecha de nacimiento: </p>

                </section>    
            </div>  
        </div>

        <div class="margin-right"></div>
          
    </main>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>