<!--head-->
<%- include("../partials/head.ejs") %>

    <link rel="stylesheet" href="css/createProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Crear</title>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>

        <div class="margin-left"></div>

        <div class="principal">
            <div class="container-form">

                <form action="/producto" method="POST">
                    <div>
                        <h2 class="titulo">Crea tu producto</h2>
                    </div>

                    <div>
                        <label for="name">Nombre producto:</label>
                        <input type="text" id="nombre" placeholder="Nombre">
                    </div>

                    <div>
                        <label for="price">Valor del producto:</label>
                        <input type="text" id="valor" placeholder="Precio">
                    </div>

                    <div>
                        <label for="price">Tipo:</label>
                        <select name="tipo">
                            <option>------------------</option>
                            <option>Ruta</option>
                            <option>BMX</option>
                            <option>Urbano</option>
                            <option>Montaña</option>
                            <option>Accesorios</option>
                        </select>
                    </div>

                    <div>
                        <label for="price">Stock:</label>
                        <input type="text" id="stock" placeholder="Stock">
                    </div>

                    <div>
                        <label for="price">Codigo unico:</label>
                        <input type="text" id="sku" placeholder="SKU">
                    </div>

                    <div>
                        <label for="description">Descripcion del producto:</label>
                        <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Añade la descripción:"></textarea>
                    </div>

                    <div>
                        <label for="name">Cargar imagen</label>
                        <input type="file">
                    </div>
                    <div>
                        <input class="boton" type="submit" value="Crear Producto">
                    </div>
                </form>
            </div>
        </div>

        <div class="margin-right"></div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>