<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Registro</title>
    <link rel="stylesheet" href="/css/createProduct.css" type="text/css">
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>

        <div class="margin-left"></div>

        <div class="principal">

            <div class="container-form">
                <div>
                    <h2 class="titulo">Crea tu producto</h2>
                </div>
                <form action="/admin" method="POST" enctype="multipart/form-data">
                   
                    <div>
                        <label for="nombre">Nombre producto:</label>  
                        <input type="text" name="nombre" placeholder="Nombre del producto" required>
                    </div>
                    <div>
                        <label for="precio">Valor del producto:</label>
                        <input type="number" name="precio" placeholder="Precio" required>
                    </div>
                    <div>
                        <label for="color">Color:</label>
                        <input type="text" name="color" placeholder="Color" required>
                    </div>
                    <div>
                        <label for="descuento">Descuento:</label>
                        <input type="text" name="descuento" placeholder="Descuento" required>
                    </div>
                    <div>
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" placeholder="Stock" required>
                    </div>
                    <div>
                        <label for="categoriaId">Categoria:</label>
                        <select name="categoriaId" required>
                            <option>Elige una categoria</option>
                            <option>Ruta</option>
                            <option>BMX</option>
                            <option>Urbano</option>
                            <option>Montaña</option>
                        </select>
                    </div>
                    <div>
                        <label for="genre">Genero:</label>
                        <select name="genre" required>
                            <option value="" selected disabled>Elige un genero</option>
                            <option>Hombre</option>
                            <option>Mujer</option>
                            <option>Unisex</option>
                        </select>
                    </div>
                    <div>
                        <label for="imagen">Cargar imagen</label>
                        <input type="file" name="imagen" id="image">
                    </div>
                    <div>
                        <label for="descripcion">Descripcion del producto:</label>
                        <input type="text" name="descripcion" required>
                    </div>
                    <div>
                        <label class="caracteristicas">Caracteristicas</label>
                        <div>
                            <label for="material">Material marco:</label>
                            <input type="text" name="material" required>
                        </div>
                        <div>
                            <label for="numDeCambios">Numero de cambios:</label>
                            <input type="number" name="numDeCambios" required>
                        </div>
                        <div>
                            <label for="tipoFreno">Tipo de freno:</label>
                            <input type="text" name="tipoFreno" required>
                        </div>
                        <div>
                            <label for="suspension">Suspención:</label>
                            <input type="text" name="suspension" required>
                        </div>
                    </div>

                    <div>
                        <input class="button" type="submit" value="Crear Producto">
                    </div>

                </form>
            </div>
        </div>

        <div class="margin-right"></div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>