<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<header>
    <div class="top-header">
        <div class="barra"><p class="barra-text">"Lo que gastas en tu bicicleta, lo ahorras en salud"</p></div>
        <div class="login"><p>INICIAR SECCIÓN</p></div>
    </div>
    <div class="nav">
        <div class="logo">
            <img src="/img/DevBiker1.png" alt="Logo-DevBiker">
        </div>
        <div class="nav-list">
            <ul>
                <li>BICICLETAS</li>
                <li>ACCESORIOS</li>
                <li>OFERTAS</li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="icons">
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</header>
